page-spirituality {
    p {
        font-family: open-sans;
        font-size: 12px;
        line-height: 1.8;
        color: map-get($colors, dark) !important;
      }
    
      b {
        font-family: open-sans;
        font-size: 12px;
        color: map-get($colors, dark) !important;
      }
    
      u {
        font-family: open-sans;
        font-size: 12px;
        color: map-get($colors, dark) !important;
      }
    
      i {
        font-family: open-sans;
        font-size: 12px;
        color: map-get($colors, dark) !important;
      }
    
      .header {
        font-family: open-sans;
        color: darkred;
        font-weight: 600;
      }
    
}
